<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일 주소 인증 완료</title>
</head>
<body style="font-family: Arial, sans-serif; padding: 40px; background-color: #f9f9f9; color: #333;">
<div class="container" style="background: #ffffff; padding: 40px; border-radius: 10px; max-width: 600px; margin: 0 auto; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);">
    <div class="header" style="text-align: left; margin-bottom: 20px;">
        <img src="https://littlebank-prod.s3.ap-northeast-2.amazonaws.com/images/origin/default/mail_logo.png" alt="서비스 로고" class="logo" style="width: 50px; height: 50px; max-width: 150px; display: block; margin-bottom: 10px;">
        <div class="title" style="font-size: 24px; font-weight: bold;">이메일 주소 확인 완료</div>
    </div>
    <div class="content" style="font-size: 16px; line-height: 1.6; margin-bottom: 30px;">
        리틀뱅크 앱 이메일 확인이 완료되었습니다!<br><br>
        리틀뱅크 앱에서 다양한 콘텐츠를 경험해 보세요.<br>
        이용 중 궁금한 점이 있다면 언제든지 고객센터에 문의해 주세요.<br><br>
        감사합니다.
    </div>
    <div style="text-align: center;">
        <a href="https://play.google.com/store/search?q=%EB%A6%AC%ED%8B%80%EB%B1%85%ED%81%AC&c=apps&hl=ko" class="button" style="display: inline-block; background-color: #0059ff; color: #ffffff; text-decoration: none; padding: 12px 24px; border-radius: 6px; font-size: 14px; text-align: center;">앱 시작하기</a>
    </div>

    <div class="footer" style="margin-top: 40px; font-size: 14px; color: #777; border-top: 1px solid #e0e0e0; padding-top: 20px; text-align: left;">
        <strong>(주) 리틀뱅크</strong><br>
        사업자 등록 번호 215-24-34845<br>
        전화번호 010-9117-9030
    </div>
</div>
</body>
</html>