<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title></title>
  <script>
      function openApp() {
        var now = new Date().getTime();
        var timeout = 3000;

        // 앱 스킴 (딥링크)
        var schemeUrl = "littlebank://invite?code=testcode123";

        // Play Store 앱 링크
        var storeUrl = "market://details?id=com.worldcoin.pocketmoneymanagementz&referrer=invite_code%3Dtestcode123";

        // iframe 생성
        var iframe = document.createElement("iframe");
        iframe.style.display = "none";
        iframe.src = schemeUrl;
        document.body.appendChild(iframe);

        // 앱 실행 실패 시 Play Store 앱으로 이동
        setTimeout(function () {
          var later = new Date().getTime();
          if (later - now < timeout + 200) {
            window.location.href = storeUrl;
          }
        }, timeout);
      }

      window.onload = openApp;
    </script>
</head>
<body>
</body>
</html>
