<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title></title>
  <script>
      function openApp() {
        // 앱 딥링크 URL
        var schemeUrl = "littlebank://invite?code=testcode123";

        // 앱이 설치되어 있지 않으면 리디렉션할 Play Store URL
        var storeUrl = "https://play.google.com/store/apps/details?id=com.worldcoin.pocketmoneymanagementz&referrer=invite_code%3Dtestcode123";

        // 타이머로 앱 설치 안 된 경우 Play Store로 이동
        var fallbackTimer = setTimeout(function () {
          window.location.href = storeUrl;
        }, 1500); // 1.5초 기다렸다가 이동

        // 앱 딥링크 실행
        window.location.href = schemeUrl;
      }

      window.onload = openApp;
    </script>
</head>
<body>
</body>
</html>
